## To do
* Data assembling
* Data Cleaning

In [1]:
import pandas as pd

In [3]:
pd.read_csv('data/player_names.csv').head(1)

       id first_name last_name
0  452657        Jon    Lester

In [4]:
pd.read_csv('data/player_names.csv')[pd.read_csv('data/player_names.csv')['last_name'] == 'Scherzer']

        id first_name last_name
69  453286        Max  Scherzer

In [2]:
df = pd.read_csv('data/pitches.csv')

In [4]:
df = pd.concat([df,pd.read_csv('data/2019_pitches.csv')])

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3595944 entries, 0 to 728789
Data columns (total 40 columns):
 #   Column           Dtype
---  ------           -----
 0   px               float64
 1   pz               float64
 2   start_speed      float64
 3   end_speed        float64
 4   spin_rate        object
 5   spin_dir         object
 6   break_angle      float64
 7   break_length     float64
 8   break_y          float64
 9   ax               float64
 10  ay               float64
 11  az               float64
 12  sz_bot           float64
 13  sz_top           float64
 14  type_confidence  object
 15  vx0              float64
 16  vy0              float64
 17  vz0              float64
 18  x                object
 19  x0               float64
 20  y                object
 21  y0               float64
 22  z0               float64
 23  pfx_x            float64
 24  pfx_z            float64
 25  nasty            float64
 26  zone             object
 27  code             object
 28  type             object
 29  pitch_type       object
 30  event_num        int64
 31  b_score          float64
 32  ab_id            float64
 33  b_count          float64
 34  s_count          float64
 35  outs             float64
 36  pitch_num        float64
 37  on_1b            float64
 38  on_2b            float64
 39  on_3b            float64
dtypes: float64(30), int64(1), object(9)
memory usage: 1.1+ GB

In [7]:
df = pd.merge(df,pd.concat([pd.read_csv('data/atbats.csv'),pd.read_csv('data/2019_atbats.csv')]),on='ab_id')

In [17]:
df.columns

Index(['px', 'pz', 'start_speed', 'end_speed', 'spin_rate', 'spin_dir',
       'break_angle', 'break_length', 'break_y', 'ax', 'ay', 'az', 'sz_bot',
       'sz_top', 'type_confidence', 'vx0', 'vy0', 'vz0', 'x', 'x0', 'y', 'y0',
       'z0', 'pfx_x', 'pfx_z', 'nasty', 'zone', 'code', 'type', 'pitch_type',
       'event_num', 'b_score', 'ab_id', 'b_count', 's_count', 'outs',
       'pitch_num', 'on_1b', 'on_2b', 'on_3b', 'batter_id', 'event', 'g_id',
       'inning', 'o', 'p_score', 'p_throws', 'pitcher_id', 'stand', 'top'],
      dtype='object')

In [8]:
df = df[df['pitcher_id'] == 453286]

In [9]:
df

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,batter_id,event,g_id,inning,o,p_score,p_throws,pitcher_id,stand,top
2407,-1.598,1.869,90.6,82.8,2704.451,235.379,43.7,6.2,23.7,-20.321,...,434158,Walk,201500010.0,1.0,0,0.0,R,453286,L,True
2408,-0.909,2.487,93.5,85.0,2536.46,221.465,41.6,4.5,23.7,-15.832,...,434158,Walk,201500010.0,1.0,0,0.0,R,453286,L,True
2409,-1.585,2.934,94.9,86.6,2546.016,220.551,44.2,4.2,23.7,-15.845,...,434158,Walk,201500010.0,1.0,0,0.0,R,453286,L,True
2410,0.364,0.245,86.6,79.9,1628.2,245.895,21.3,7.5,23.8,-12.939,...,434158,Walk,201500010.0,1.0,0,0.0,R,453286,L,True
2411,-1.927,4.250,94.0,85.7,2040.141,229.179,34.2,5.0,23.7,-14.653,...,434158,Walk,201500010.0,1.0,0,0.0,R,453286,L,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3578275,-0.530,2.740,79.1,73.0,placeholder,placeholder,12.0,9.6,24.0,6.170,...,664068,Single,201902351.0,6.0,2,2.0,R,453286,R,1.0
3578276,1.390,0.800,84.8,78.5,placeholder,placeholder,7.2,8.4,24.0,2.700,...,664068,Single,201902351.0,6.0,2,2.0,R,453286,R,1.0
3578277,-0.120,2.180,97.4,89.3,placeholder,placeholder,38.4,3.6,24.0,-13.400,...,664068,Single,201902351.0,6.0,2,2.0,R,453286,R,1.0
3578278,0.650,1.460,84.4,77.9,placeholder,placeholder,24.0,9.6,24.0,-15.700,...,664068,Single,201902351.0,6.0,2,2.0,R,453286,R,1.0
3578279,0.620,2.780,92.7,85.2,placeholder,placeholder,33.6,4.8,24.0,-13.940,...,656514,Flyout,201902351.0,6.0,3,2.0,R,453286,L,1.0

In [10]:
df = pd.merge(df,pd.concat([pd.read_csv('data/games.csv'),pd.read_csv('data/2019_games.csv')]),on='g_id')

In [11]:
df

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,-1.598,1.869,90.6,82.8,2704.451,235.379,43.7,6.2,23.7,-20.321,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
1,-0.909,2.487,93.5,85.0,2536.46,221.465,41.6,4.5,23.7,-15.832,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
2,-1.585,2.934,94.9,86.6,2546.016,220.551,44.2,4.2,23.7,-15.845,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
3,0.364,0.245,86.6,79.9,1628.2,245.895,21.3,7.5,23.8,-12.939,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
4,-1.927,4.250,94.0,85.7,2040.141,229.179,34.2,5.0,23.7,-14.653,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16307,-0.530,2.740,79.1,73.0,placeholder,placeholder,12.0,9.6,24.0,6.170,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16308,1.390,0.800,84.8,78.5,placeholder,placeholder,7.2,8.4,24.0,2.700,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16309,-0.120,2.180,97.4,89.3,placeholder,placeholder,38.4,3.6,24.0,-13.400,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16310,0.650,1.460,84.4,77.9,placeholder,placeholder,24.0,9.6,24.0,-15.700,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16311,0.620,2.780,92.7,85.2,placeholder,placeholder,33.6,4.8,24.0,-13.940,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN

In [12]:
df.columns

Index(['px', 'pz', 'start_speed', 'end_speed', 'spin_rate', 'spin_dir',
       'break_angle', 'break_length', 'break_y', 'ax', 'ay', 'az', 'sz_bot',
       'sz_top', 'type_confidence', 'vx0', 'vy0', 'vz0', 'x', 'x0', 'y', 'y0',
       'z0', 'pfx_x', 'pfx_z', 'nasty', 'zone', 'code', 'type', 'pitch_type',
       'event_num', 'b_score', 'ab_id', 'b_count', 's_count', 'outs',
       'pitch_num', 'on_1b', 'on_2b', 'on_3b', 'batter_id', 'event', 'g_id',
       'inning', 'o', 'p_score', 'p_throws', 'pitcher_id', 'stand', 'top',
       'attendance', 'away_final_score', 'away_team', 'date', 'elapsed_time',
       'home_final_score', 'home_team', 'start_time', 'umpire_1B', 'umpire_2B',
       'umpire_3B', 'umpire_HP', 'venue_name', 'weather', 'wind', 'delay'],
      dtype='object')

In [14]:
df[['batter_id','date']].tail(5)

       batter_id        date
16307     664068  2019-09-24
16308     664068  2019-09-24
16309     664068  2019-09-24
16310     664068  2019-09-24
16311     656514  2019-09-24

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16312 entries, 0 to 16311
Data columns (total 66 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   px                16249 non-null  float64
 1   pz                16249 non-null  float64
 2   start_speed       16249 non-null  float64
 3   end_speed         16249 non-null  float64
 4   spin_rate         16249 non-null  object
 5   spin_dir          16249 non-null  object
 6   break_angle       16249 non-null  float64
 7   break_length      16249 non-null  float64
 8   break_y           16249 non-null  float64
 9   ax                16249 non-null  float64
 10  ay                16249 non-null  float64
 11  az                16249 non-null  float64
 12  sz_bot            16296 non-null  float64
 13  sz_top            16296 non-null  float64
 14  type_confidence   16249 non-null  object
 15  vx0               16249 non-null  float64
 16  vy0               16249 non-null  float64
 17  vz0               16249 non-null  float64
 18  x                 16312 non-null  object
 19  x0                16249 non-null  float64
 20  y                 16312 non-null  object
 21  y0                16249 non-null  float64
 22  z0                16249 non-null  float64
 23  pfx_x             16249 non-null  float64
 24  pfx_z             16249 non-null  float64
 25  nasty             13480 non-null  float64
 26  zone              16249 non-null  object
 27  code              16209 non-null  object
 28  type              16312 non-null  object
 29  pitch_type        16249 non-null  object
 30  event_num         16312 non-null  int64
 31  b_score           16312 non-null  float64
 32  ab_id             16312 non-null  float64
 33  b_count           16312 non-null  float64
 34  s_count           16312 non-null  float64
 35  outs              16312 non-null  float64
 36  pitch_num         16312 non-null  float64
 37  on_1b             16312 non-null  float64
 38  on_2b             16312 non-null  float64
 39  on_3b             16312 non-null  float64
 40  batter_id         16312 non-null  int64
 41  event             16312 non-null  object
 42  g_id              16312 non-null  float64
 43  inning            16312 non-null  float64
 44  o                 16312 non-null  int64
 45  p_score           16312 non-null  float64
 46  p_throws          16312 non-null  object
 47  pitcher_id        16312 non-null  int64
 48  stand             16312 non-null  object
 49  top               16312 non-null  object
 50  attendance        13534 non-null  float64
 51  away_final_score  16312 non-null  float64
 52  away_team         16312 non-null  object
 53  date              16312 non-null  object
 54  elapsed_time      13534 non-null  float64
 55  home_final_score  16312 non-null  float64
 56  home_team         16312 non-null  object
 57  start_time        13534 non-null  object
 58  umpire_1B         13534 non-null  object
 59  umpire_2B         13534 non-null  object
 60  umpire_3B         13534 non-null  object
 61  umpire_HP         13534 non-null  object
 62  venue_name        16312 non-null  object
 63  weather           13534 non-null  object
 64  wind              13534 non-null  object
 65  delay             13534 non-null  float64
dtypes: float64(38), int64(4), object(24)
memory usage: 8.3+ MB

In [16]:
df

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,home_team,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay
0,-1.598,1.869,90.6,82.8,2704.451,235.379,43.7,6.2,23.7,-20.321,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
1,-0.909,2.487,93.5,85.0,2536.46,221.465,41.6,4.5,23.7,-15.832,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
2,-1.585,2.934,94.9,86.6,2546.016,220.551,44.2,4.2,23.7,-15.845,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
3,0.364,0.245,86.6,79.9,1628.2,245.895,21.3,7.5,23.8,-12.939,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
4,-1.927,4.250,94.0,85.7,2040.141,229.179,34.2,5.0,23.7,-14.653,...,was,4:09 PM,Tim Timmons,Chris Segal,Todd Tichenor,Tim Welke,Nationals Park,"76 degrees, sunny","14 mph, Out to CF",0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16307,-0.530,2.740,79.1,73.0,placeholder,placeholder,12.0,9.6,24.0,6.170,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16308,1.390,0.800,84.8,78.5,placeholder,placeholder,7.2,8.4,24.0,2.700,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16309,-0.120,2.180,97.4,89.3,placeholder,placeholder,38.4,3.6,24.0,-13.400,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16310,0.650,1.460,84.4,77.9,placeholder,placeholder,24.0,9.6,24.0,-15.700,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN
16311,0.620,2.780,92.7,85.2,placeholder,placeholder,33.6,4.8,24.0,-13.940,...,was,NaN,NaN,NaN,NaN,NaN,Nationals Park,NaN,NaN,NaN

In [17]:
df['year'] = df['g_id'].astype('string').map(lambda x : x[:4]).astype('int')

In [18]:
df['year']

0        2015
1        2015
2        2015
3        2015
4        2015
         ...
16307    2019
16308    2019
16309    2019
16310    2019
16311    2019
Name: year, Length: 16312, dtype: int64

In [19]:
df.groupby(['year','pitch_type']).count()

                   px    pz  start_speed  end_speed  spin_rate  spin_dir  \
year pitch_type
2015 CH           440   440          440        440        440       440
     CU           271   271          271        271        271       271
     FC            55    55           55         55         55        55
     FF          1988  1988         1988       1988       1988      1988
     SL           598   598          598        598        598       598
2016 CH           427   427          427        427        427       427
     CU           287   287          287        287        287       287
     FC            61    61           61         61         61        61
     FF          1968  1968         1968       1968       1968      1968
     SL           811   811          811        811        811       811
     UN             1     1            1          1          1         1
2017 CH           441   441          441        441        441       441
     CU           255   255          255        255        255       255
     FC           237   237          237        237        237       237
     FF          1415  1415         1415       1415       1415      1415
     FT            89    89           89         89         89        89
     SL           656   656          656        656        656       656
2018 CH           548   548          548        548        548       548
     CU           277   277          277        277        277       277
     FC           335   335          335        335        335       335
     FF          1746  1746         1746       1746       1746      1746
     SL           574   574          574        574        574       574
2019 CH           401   401          401        401        401       401
     CU           240   240          240        240        240       240
     FC           214   214          214        214        214       214
     FF          1341  1341         1341       1341       1341      1341
     SL           573   573          573        573        573       573

                 break_angle  break_length  break_y    ax  ...  home_team  \
year pitch_type                                            ...
2015 CH                  440           440      440   440  ...        440
     CU                  271           271      271   271  ...        271
     FC                   55            55       55    55  ...         55
     FF                 1988          1988     1988  1988  ...       1988
     SL                  598           598      598   598  ...        598
2016 CH                  427           427      427   427  ...        427
     CU                  287           287      287   287  ...        287
     FC                   61            61       61    61  ...         61
     FF                 1968          1968     1968  1968  ...       1968
     SL                  811           811      811   811  ...        811
     UN                    1             1        1     1  ...          1
2017 CH                  441           441      441   441  ...        441
     CU                  255           255      255   255  ...        255
     FC                  237           237      237   237  ...        237
     FF                 1415          1415     1415  1415  ...       1415
     FT                   89            89       89    89  ...         89
     SL                  656           656      656   656  ...        656
2018 CH                  548           548      548   548  ...        548
     CU                  277           277      277   277  ...        277
     FC                  335           335      335   335  ...        335
     FF                 1746          1746     1746  1746  ...       1746
     SL                  574           574      574   574  ...        574
2019 CH                  401           401      401   401  ...        401
     CU                  240           240      240   240  ...        240
     FC                  214           214      214   214  ...        214
     FF                 1341          1341     1341  1341  ...       1341
     SL                  573           573      573   573  ...        573

                 start_time  umpire_1B  umpire_2B  umpire_3B  umpire_HP  \
year pitch_type
2015 CH                 440        440        440        440        440
     CU                 271        271        271        271        271
     FC                  55         55         55         55         55
     FF                1988       1988       1988       1988       1988
     SL                 598        598        598        598        598
2016 CH                 427        427        427        427        427
     CU                 287        287        287        287        287
     FC                  61         61         61         61         61
     FF                1968       1968       1968       1968       1968
     SL                 811        811        811        811        811
     UN                   1          1          1          1          1
2017 CH                 441        441        441        441        441
     CU                 255        255        255        255        255
     FC                 237        237        237        237        237
     FF                1415       1415       1415       1415       1415
     FT                  89         89         89         89         89
     SL                 656        656        656        656        656
2018 CH                 548        548        548        548        548
     CU                 277        277        277        277        277
     FC                 335        335        335        335        335
     FF                1746       1746       1746       1746       1746
     SL                 574        574        574        574        574
2019 CH                   0          0          0          0          0
     CU                   0          0          0          0          0
     FC                   0          0          0          0          0
     FF                   0          0          0          0          0
     SL                   0          0          0          0          0

                 venue_name  weather  wind  delay
year pitch_type
2015 CH                 440      440   440    440
     CU                 271      271   271    271
     FC                  55       55    55     55
     FF                1988     1988  1988   1988
     SL                 598      598   598    598
2016 CH                 427      427   427    427
     CU                 287      287   287    287
     FC                  61       61    61     61
     FF                1968     1968  1968   1968
     SL                 811      811   811    811
     UN                   1        1     1      1
2017 CH                 441      441   441    441
     CU                 255      255   255    255
     FC                 237      237   237    237
     FF                1415     1415  1415   1415
     FT                  89       89    89     89
     SL                 656      656   656    656
2018 CH                 548      548   548    548
     CU                 277      277   277    277
     FC                 335      335   335    335
     FF                1746     1746  1746   1746
     SL                 574      574   574    574
2019 CH                 401        0     0      0
     CU                 240        0     0      0
     FC                 214        0     0      0
     FF                1341        0     0      0
     SL                 573        0     0      0

[27 rows x 65 columns]

In [20]:
#done
df.to_csv('data/scherzer.csv')

In [21]:
df.groupby(['pitch_type']).count()

,px,pz,start_speed,end_speed,spin_rate,spin_dir,break_angle,break_length,break_y,ax,...,start_time,umpire_1B,umpire_2B,umpire_3B,umpire_HP,venue_name,weather,wind,delay,year
pitch_type,,,,,,,,,,,,,,,,,,,,,
CH,2257,2257,2257,2257,2257,2257,2257,2257,2257,2257,...,1856,1856,1856,1856,1856,2257,1856,1856,1856,2257
CU,1330,1330,1330,1330,1330,1330,1330,1330,1330,1330,...,1090,1090,1090,1090,1090,1330,1090,1090,1090,1330
FC,902,902,902,902,902,902,902,902,902,902,...,688,688,688,688,688,902,688,688,688,902
FF,8458,8458,8458,8458,8458,8458,8458,8458,8458,8458,...,7117,7117,7117,7117,7117,8458,7117,7117,7117,8458
FT,89,89,89,89,89,89,89,89,89,89,...,89,89,89,89,89,89,89,89,89,89
SL,3212,3212,3212,3212,3212,3212,3212,3212,3212,3212,...,2639,2639,2639,2639,2639,3212,2639,2639,2639,3212
UN,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [36]:
#df= df[df['pitch_type'].notnull()]